.wrapper {
	width: 100%;
	max-width: $wrapper-max-width--small + ($grid-gutter);
	margin: 0 auto;
	padding:0 $grid-gutter/2;
	//position: relative;
	//-webkit-overflow-scrolling: touch;
	//overflow-x: hidden;
	@include cf;
	@include break(medium) {
		max-width: $wrapper-max-width + ($grid-gutter);
		padding:0;
	}
	@include break(small) {

	}
}

	.wrapper--full {
		max-width: 100%;
	}

	.wrapper--bleed {
		padding-top: 0;
		padding-bottom: 0;
	}

.grid {
	max-width: none;
	margin: 0;
	position: relative;
	@include cf;
	@include break(medium) {
		margin: 0 (-$grid-gutter--large / 2);
	}
}

	.grid__full {
		@include span(1);
	}

	.grid__half {
		@include span(1);

		@include break(medium) {
			@include span(1/2);
		}
	}

	.grid__third {

		@include span(1/2);

		@include break(small) {
			@include span(1/3);
		}
		&--collaps {
			@include span(1/1);

			@include break(small) {

				@include span(1/3);
			}
		}
	}

	.grid__quarter {
		@include span(1/4);

		@include break(large) {
			@include span(1/2);

			&:nth-child(1) {
				clear: right;
			}

			&:nth-child(2) {
				clear: right;
			}

			&:nth-child(3) {
				clear: left;
			}
		}

		@include break(medium) {
			@include span(1);
		}
	}
