

.accordion__item {
	position: relative;
	margin: 0px (-($grid-gutter/2));
	border-top:$border-width dotted  rgba(0,0,0,0.1);
	@include break(medium) {
		margin: 0px;
		padding:0px;
	}
	&:before {
		display: none;
	}
	&:last-child {
		border-bottom:$border-width dotted  rgba(0,0,0,0.1);
	}

}

.accordion__link {
	border-bottom: none;
	color:$color-text;
	// color:$color-link;
	padding: $baseline 0px;
	margin:0px;
	margin-left: $baseline;
	margin-right: $baseline;
	display: block;
	@include break(medium) {
		margin:0px;
	}
	h2 {
		display: inline-block;
		border-bottom: 3px solid white;
		margin-bottom: 0;
		line-height: 3.2rem;

	}

	&:before {
		content:"";
		display: block;
		float:left;
		height:$grid-gutter;
		width:$grid-gutter;
		margin: 0;
		margin-right: $baseline;
		margin-top:-1px;
		vertical-align:middle;
		border-radius: none;
		background: none;
		@include sprite(0,0);
		//@include transition();

		@include break(medium) {
			margin-right: $baseline;
		}
	}

	&:hover, &:focus {
		border-bottom: none;


		color:$red;
		.submenu__linktext {
			border-bottom: $border-width solid $color-link;
		}
		&:before {
		//	margin-left:$baseline;
		//	margin-right: 0;
		}

		h2 {
				border-bottom: $border-width solid $color-link;
			}
	}

}

.accordion__header_is_active, .accordion__link--open {
	&:before {
		-webkit-transform: rotate(90deg);
		transform: rotate(90deg);
	}

}

/*
.accordion__body {
	margin-left: 15px;
}
*/
