.vision-filter__blur{
    filter: grayscale(100%) blur(2px);
}
.vision-filter__filter_nr1 {
    filter: blur(1.5px);
}
.vision-filter__filter_nr1, .vision-filter__filter_nr2 {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    /* pointer-events: none; */
    z-index: 99990;
}
